*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/vcs.xml
/app/src/main/res/layout/activity_tuning.xml
/.idea/appInsightsSettings.xml
/.kotlin/sessions/kotlin-compiler-12769183442630630521.salive
